.progress {
  height: 28px;
  margin: 50px auto 10px;
  font-weight: bold;
}

.progress-bar + .tooltip {
  z-index: 2;
}

.progress-bar + .tooltip > .tooltip-inner {
  background-color: #ff0060;
  font-weight: bold;
}

.progress-bar + .tooltip > .tooltip-arrow {
  border-top: 5px solid #ff0060;
}

.progress-bar .percent {
  line-height: 30px;
  font-size: 14px;
}

.progress-text {
  font-size: 18px;
}

.bold {
  font-weight: bold;
}

@media only screen and (min-width:768px) {
  .progress {
    width: 60%;
  }
}
